<div class="row">
    <br>
    <br>
    <div class="col s4" style="text-align: right"><button class="btn-large"  ng-click="recordIt()">Obtain Permission</button></div>
    <div class="col s4" style="text-align: right"><button class="btn-large" id="Start">Start</button></div>
    <div class="col s4"><button class="btn-large" id="Stop">Stop</button></div>
    <div class="col s4"></div>
    <div class="col s12" style="text-align: center"><br></div>    
    <div class="col s8" style="text-align: center"><audio id="audio" controls></audio></div>
    <div class="col s12"><br></div>
    <div class="col s4" ng-click="upload()"><button class="btn-large">Upload</button> </div>
    <div class="col s4"><h3 ng-model="msgServer"></h3></div>
    <div class="col s4"><a id="download" download="">Click here to download</a></div>
</div> 