<div class="row" >
  <div class="col s12 m4 l4" ng-repeat="book in books track by $index">
    <div class="card-panel purple lighten-4" ng-click="nav_type(book)">
      <span class="flow-text" style="font-size: 1.4em">
        {{book.heading}}
        <i class="material-icons right-align" style="float: right">edit</i>
      </span>
      <hr>
      <span class=" flow-text truncate" style="font-size: 1.1em">
        {{book.des}}
      </span>
    </div>
  </div>
  <div class="col s12">
    <h6 ng-hide="books.length">You don't seem to have any stories in your list. Pen one down by clicking the button
      below</h6>
  </div>
  

  <div class="col s12 purple darken-2 bottom-nav z-index-3">
    <br>
    <div class="row">
      <div class="col s2"></div>
      <div class="col s4">
        <i class="material-icons white-text">inbox</i>
      </div>
      <div class="col s4" style="text-align: right">
          <i class="material-icons white-text">library_books</i>        
      </div>
      <div class="col s2"></div>
    </div>
  </div>

</div>


<div class="central-fab" ng-style="posFabStyle" ng-click="nav_new_story()" > 
  <a class="btn-floating btn-large purple lighten-3 z-index-3">
    <i class="large material-icons black-text">mode_edit</i>
  </a>
</div>

<h6 ng-model="helper">&nbsp;{{helper}}</h6>
