<div>
    <div class="row">
        <form class="col s12" ng-submit="addBook()">
            <div class="row">
                <h3 class="center-align">Title</h3>
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" ng-model="title" required></textarea>
                    <label for="textarea1">What is the title of the next bestseller ?</label>
                <br>
                </div>
                
                <h4 class="center-align">Opening para </h4>
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" ng-model="intro" required></textarea>
                    <label for="textarea1">Will the book be picked by the reader ? This decides it !</label>
                </div>
            <br>
            </div>
<button class="btn purple col s12" type="submit" style="border-radius:13em">Add Story Head </button>
        </form>
    </div>

</div>