<ul class="collection with-header">
    <li class="collection-header row">
        <h4 class="col s11">{{story.heading}}</h4>
        <i class="material-icons s1" style="margin-block-start: 1.33em; margin-block-end:1.33em; font-size: 1.6em"
            onclick="location.replace('/#!/share')">share</i>
    </li>
    <li class="collection-item" ng-repeat="entry in story.entries">
        <div>

            <p class="flow-text" style="text-align: left; word-break: break-all">
                {{entry.entry}}
            </p>
            <br>
            <audio src="{{entry.audio.audId}}" ng-show="{{entry.audio.present}}" style="width:100%" controls></audio>
            <br>
            <br>
            <div class="chip secondary-content" style="float: right;">
                <img src="/images/photo.png">
                {{entry.author_name}}
            </div>
            <br>
        </div>
        <br>

    </li>

    <li></li>

    <li class="collection-item z-depth-3" style="padding: 0%">

        <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    <h5>Extend the t(r)ail</h5>
                </div>
                
            </li>
            <li>
                <div class="collapsible-header">
                    <h6>Support with vocal narrative ?</h6>

                </div>
                <div class="collapsible-body row">
                    <span>
                        Click RECORD to start recording and STOP to stop. Choose if you want to include this file with
                        the current text. <br>
                        <div class="col s12"><br></div>
                        <div class="col s4" style="text-align: right"><button class="btn-large"
                                ng-click="recordIt()">REcord</button></div>
                        <div class="col s1"></div>

                        <div class="col s4"><button class="btn-large" id="Stop">Stop</button></div>
                        <div class="col s3">
                            <a class="btn-floating btn-large purple lighten-3 z-index-3">
                                <i class="large material-icons black-text"
                                    onclick="document.getElementById('player').src =''; document.getElementById('player').value ='0'">refresh</i>
                            </a>
                        </div>
                        <div class="col s12" style="text-align: center"><br></div>
                        <div class="col s8" style="text-align: center"><audio id="player" controls></audio></div>
                        <span class=" col s12">
                            <br>
                            <label class="col s5">
                                <input type="checkbox" ng-model="include" id="ch" ng-click="check()" />
                                <span>Include with narrative ?</span>
                            </label>
                        </span>
                    </span>
                </div>
            </li>
            <li class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" ng-model="insta_para" placeholder="Type on.."
                        required></textarea>
                </div>
            </li>
            <li class="row">
                <button class="btn purple col s12" style="border-radius:15em; height:48px" type="submit"
                    ng-click="addPart()">Commit</button>

            </li>
        </ul>



        <div class="row">

            </form>
        </div>
    </li>
</ul>


<!-- Socket .io -->